{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'myapp/img/apple-icon.png' %}">
    <link rel=" icon" type="image/png" href="{% static 'myapp/img/favicon.png' %}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>
        Welcome to DivyaBhaskar Dashboard
    </title>
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css"
        href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <!-- JS Files -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- CSS Files -->
    <link href="{% static 'myapp/css/material-dashboard.css' %}" rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="{% static 'myapp/demo/demo.css' %}" rel="stylesheet" />

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        * {
            box-sizing: border-box;
        }

        input[type=text],
        select,
        textarea {
            width: 100%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            margin-top: 6px;
            margin-bottom: 16px;
            resize: vertical;
        }

        input[type=submit] {
            background-color: #04AA6D;
            color: white;
            padding: 12px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        input[type=submit]:hover {
            background-color: #45a049;
        }

        .container {
            border-radius: 5px;
            background-color: #f2f2f2;
            padding: 20px;
        }
    </style>


</head>

<body>
    {% include 'header.html' %}

    {% for message in messages %}
    <div class="alert {{ message.tags }} alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {{ message | safe }}
    </div>
    {% endfor %}

    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header card-header-primary">
                            <h4 class="card-title">User</h4>
                            <p class="card-category">Edit Profile</p>
                        </div>
                        <div class="card-body">
                            <form method="POST" action="{% url 'edit_user' %}">
                                {% csrf_token %}
                                <input type="hidden" name="user_id" value="{{user.id }}">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">First Name</label>
                                            <input type="text" name="fname" value="{{user.fname}}" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">Last Name</label>
                                            <input type="text" name="lname" value="{{user.lname}}" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">Email address</label>
                                            <input type="email" name="email" value="{{user.email}}"
                                                class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">Phone</label>
                                            <input type="text" name="phone" value="{{user.phone}}" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">User Type</label>
                                            <select name="user_type" id="user_type">
                                                <option value="{{user.user_type}}">Admin</option>
                                                <option value="{{user.user_type}}">User</option>
                                            </select>

                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">Address</label>
                                            <input type="text" name="address" value="{{user.address}}"
                                                class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <select name="state_id" id="state_id">
                                            {% for state in allStates %}
                                            <option value="{{state.id}}">{{state.name}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12"></div>
                                    <select name="city_id" id="city_id">
                                        {% for city in allcitys %}
                                        <option value="{{city.id}}">{{city.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <select name="area_id" id="area_id">
                                            {% for area in allareas %}
                                            <option value="{{area.id}}">{{area.name}}
                                            </option>
                                            <!-- <option value="{{area.id}}">{{area.name}} -> {{ area.city_id.name }} ->
                                            {{ area.city_id.state_id.name }}
                                        </option> -->
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                        </div>
                        <button type="submit" class="btn btn-primary pull-right">Update Profile</button>
                        <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-profile">
                <div class="card-avatar">
                    <a href="javascript:;">
                        <img class="img" src="{% static 'myapp/img/faces/marc.jpg' %}" />
                    </a>
                </div>
                <div class="card-body">
                    <h6 class="card-category text-gray">CEO / Co-Founder</h6>
                    <h4 class="card-title">Alec Thompson</h4>
                    <p class="card-description">
                        Don't be scared of the truth because we need to restart the human foundation in truth
                        And I love you
                        like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                    </p>
                    <a href="javascript:;" class="btn btn-primary btn-round">Follow</a>
                </div>
            </div>
        </div>
    </div>
    </div>



    <script>
        // for Auto Get city from select State 
        $(document).ready(function () {
            $("#state_id").change(function () {
                output = "";
                let id = $(this).val();
                $.ajax({
                    url: "{% url 'getcity' %}",
                    method: "POST",
                    data: {
                        'state_id': id
                    },
                    success: function (resp) {
                        x = resp.finalCitys;
                        if (resp.status == 'save') {
                            for (i = 0; i < x.length; i++) {
                                output += `
                                    <option value="${x[i].id}">${x[i].name}</option>
                                `;
                            }
                            $("#city_id").html(output);
                        }
                        if (resp.status == 0) {
                            console.log("enable to get citys ")
                        }
                    }
                });
            });

            // for Get Area From select City
            $("#city_id").change(function () {
                output = "";
                let id = $(this).val()

                //console.log(id, "Area Click");

                $.ajax({
                    url: "{% url 'getarea' %}",
                    method: "POST",
                    data: {
                        'city_id': id
                    },
                    success: function (resp) {
                        y = resp.finalarea;
                        console.log(y)
                        if (resp.status == 'save') {
                            for (i = 0; i < y.length; i++) {
                                output += `
                                    <option value="${y[i].id}">${y[i].name}</option>
                                    `;
                            }
                            $("#area_id").html(output);
                        }
                        if (resp.status == 0) {
                            console.log("enable to get citys ")
                        }

                    }

                });


            });
        });
    </script>

</body>

</html>